import React, { FC } from 'react';
import { {{pageClassName}}Store } from './stores/{{pageClassName}}Store';

const {{pageClassName}}Page: FC = (): JSX.Element => {
  const store = new {{pageClassName}}Store();

  return (
    <div>
      
    </div>
  );
};

export default {{pageClassName}}Page;
